body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00c9a7, #92fe9d);
}

.container {
  text-align: center;
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
  width: 90%;
}

button {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
}